* {
    box-sizing: border-box;
}

.container {
    width: 324px;
    height: 324px;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid green;
    margin: 0 auto;
}

.default{
    margin: 0;
    padding: 0;
    width: 16px;
    height: 16px;
    border-inline: 1px solid black;
    border-block: 1px solid black;
}

.newSquare {
    margin: 0;
    padding: 0;
    border-inline: 1px solid black;
    border-block: 1px solid black;
}

