* {
    box-sizing: border-box;
}

.container {
    width: 960px;
    height: 960px;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid green;
    margin: 0 auto;
    overflow: hidden;;

}


.square {
    margin: 0;
    padding: 0;
    flex: auto;
}

.opacity {
    opacity: 0.1;
}

