* {
    box-sizing: border-box;
}

.container {
    width: 960px;
    height: 960px;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid green;
    margin: 0 auto;
}


.square {
    margin: 0;
    padding: 0;
    /* border-inline: 1px solid black;
    border-block: 1px solid black; */
}

